.main-copy-section{
	position: relative;
	background: white;
	z-index: 300;
	padding-top: 1.5em;
}

.main-copy{
  letter-spacing: .03em;
  max-width: $large-width;
  margin: 0 auto;
  @include width-below ($medium-width){
    font-size: .9em;
  }
  &.center{
    text-align: center;
    margin:0 auto;
  }
	
	& a {
    color: $light-purple;
    text-decoration: none;
    &:hover{
      border-bottom: 1px solid $light-purple;
    }
	}
	
	& img {
    display: block;
    margin: 0 auto;
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
  }	
	
	& p {
  	line-height: 1.6em;
  	font-size:1em;
  	margin-top: 0;
	}

	& h2 {
  	@include section-title-text;
  	padding: 1.5em 0 .5em;
	}
  
  & > blockquote {
  	@include section-title-text;
  	max-width: 15em;
  	padding: 1em 0;
  	font-size: 2em;
  	color: $gold;
  }
}

.main-photo{
  margin-bottom: 1.5em !important;
}

.two-column-section{
  
  @if is-gte-ie9( ){
    @include width-above ($medium-width){
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;
      -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
      -moz-column-gap: 50px; /* Firefox */
      column-gap: 50px;
    }
  }
  & + .three-column-image-list{
    margin-top: 2em;
  }
}

.three-column-image-list{
  margin-bottom: 1.5em ;
  &.second{
    margin-top: 2em;
  }
  @include width-above ($medium-small-width){
    margin-right: -1.25em;
    & > li{
      width: 32.8%;
      display: inline-block;
      padding-right: 1em;
      margin-top: 1em;
      & img{
        max-width: 100%;
      }
    }
  }
   @include width-below ($medium-small-width){
     & > li{
       & + li{
         margin-top: 1em;
       }
     }
   } 
}