<section class="main-copy-section">
  <div class="inner-wrap">
  <div class="main-copy">
    <div class="two-column-section">
      <p>WEDDINGS</p> 

<p>Words have always held special meaning to me, as they do to so many others. So I started to collect them. I began to underline my books as I read, take pictures of inspiring quotes, and write down lyrics as I listened to songs on repeat. </p>
<p>What I find amazing is the impact that words can have. It is incredible that a simple quote, lyric, or passage from a favorite book can have such a lasting effect on a person. That hearing or reading someone’s story can make you realize that even though all our experiences are so vastly different, there are people in the world who can understand and relate to your story. That words have the power to bring a smile to someone’s face. That hearing the lyrics to a song can instantly bring you back to a distinct moment in time, with the same emotions all over again.</p>
  
<p>Thistle + Quill is my way of sharing this collection of words with someone other than myself. It is an attempt to connect people and connect <i>with</i> people. It is my attempt at brightening someone’s day, even if only for a few seconds. It is an attempt to make someone view things in a different light. Thistle + Quill is a way of documenting my days, thoughts and feelings, and sharing them openly as I continue to grow and evolve as an artist and a young woman.</p>
    </div>
    <h2>My Story</h2>
    <ul class="three-column-image-list">
      <li><img src="images/small-3.png"></li>
      <li><img src="images/small-4.png"></li>
      <li><img src="images/small-2.png"></li>
    </ul>
    <div class="two-column-section">
      <p>I have always loved reading. As a child I would curl up in various nooks and crannies around my house (including, but not limited to, the bathroom closet) and read for hours upon hours. Reading was something I could get lost in, something that has always provided comfort. Along with reading, I loved to draw. I remember climbing up onto the counter so I could color in peace, without any chance of my little brother getting into my crayons.</p>

<p>After I graduated high school I decided to turn my love of drawing into a career path, and moved across the country to Cleveland, Ohio to study Biomedical Art. My sophomore and junior years of college were the most difficult time of my life thus far. I lost my grandpa, a very close friend, and was hundreds of miles away from friends and family in Utah.</p>

<p>Being in a new city can be somewhat isolating, especially when you’re dealing with loss. But, what brought me comfort during this time was listening to ‘Brown Sugar’ by the Rolling Stones and remembering my dad singing in the car on long road trips. Or receiving a book in the mail from my mom and knowing that it’s words had touched her in some way. Or re-reading the journal entries where I had written down stories my grandpa had told me, or silly memories with friends. Or getting sweet notes in my mailbox from my friends in Cleveland. </p>
    </div>
    <blockquote>You can be as happy as you make your mind up to be.</blockquote>
    <div class="two-column-section">
      <p>It was during this time that I really began to recognize the power of words. How I could hear a song on the radio and be instantly brought back into a moment and smile. Or find strength and hope from a phrase in a book, or the words of others who had been through hard times.</p>

<p>One quote that I repeated on a daily basis to myself was something I remember my grandpa telling me once, “You can be as happy as you make your mind up to be.” And, I made up my mind. I started making mail art to send back and forth to my friends and family. I spent hours making collages and cutting out images, writing quotes on them that inspired me. Keeping my hands busy with something creative brought me joy, and provided an outlet from the long, often drawn-out days of science classes.</p>

<p>After I graduated, I went right into developing websites as a full time job and as I got busier, I found less and less time for making things with my hands and reading. It didn't take long to realize something was missing, that I was lacking some sort of creative outlet, and that is how Thistle + Quill began. I signed up for a calligraphy class on a whim, fell in love, and knew instantly that hand lettering was the perfect way to combine all the great loves of my life.</p>

<p>My hope with Thistle + Quill is that the words that have brought me comfort in difficult times, or remind me to this day of some of the happiest moments of my life, will do the same for others. That seeing the words of a song, or a quote from your favorite author written down, will evoke a feeling, a memory, or some sort of inspiration. Thank you for stopping by!</p>
    </div>
    <ul class="three-column-image-list second">
      <li><img src="images/small-5.png"></li>
      <li><img src="images/small-1.png"></li>
      <li><img src="images/small-7.png"></li>
    </ul>
  </div>
  </div>
</section>