.footer{
  text-align: center;
  background-image: url('../images/paper.png');
  background-repeat: repeat;
  background-position: top center;
  position: relative;
  padding-top: 4.5em;
  padding-bottom: 3.25em;
  z-index: 600;
  &:before{
	  content: url('../images/paper-bottom.png');
	  position: absolute;
	  top: -.25em;
	  right: 0;
  }
}

.social-link-list {
  padding-top: 1em;
  & > li {
    display: inline-block;
    padding: 0 .5em;
  }
}

.social-link {
  text-decoration: none;
  font-size: 2.5em;
  
  &:before{
    color: $light-purple;
    font-family: icomoon; 
    @include fast-transition-on-property (color);
  }
  &.etsy{
    &:before{
      content: $icon-etsy;
    }
  }
  &.instagram{
    &:before{
      content: $icon-instagram;
    }
  }
  &:hover{
    &:before{
      color: $dark-purple;
    }
  }
}

.copyright-text {
  font-size: .8em;
  color: $dark-green;
  @include garamond;
  position: relative;
  &:after{
	  content: url('../images/footer-leaf.png');
	  position: absolute;
	  bottom: -6.25em;
	  right: -7.5em;
  }
}

.footer-thistle{
  position: absolute;
  bottom: -4.25em;
  left: -2em;
  z-index: 400;
  @include width-below ($large-width){
	  left: -6em;
  }
  @include width-below ($medium-large-width){
	  left: -8em;
	  bottom: -7em;
  }
  @include width-below ($small-width - 5em){
	  left: -10em;
	  bottom: -7em;
  }
}
