.services-section{
	position: relative;
	background: white;
	z-index: 300;
}

.services-list {
  max-width: $large-width;
  margin: 0 auto;
  & > li {
    & + li{
      padding-top: 2.5em;
    }
    @include width-above($medium-large-width){
      &:nth-child(even){
        direction: rtl;
        text-align: left;
        & .service-text-wrapper{
          padding-left: 0;
          padding-right: 1em;
        }
      }
    }
  }
}

.service-text-wrapper{
  display: inline-block;
  width: 69%;
  padding-left: 1em;
  direction: ltr;
  @include width-below ($medium-small-width){
    width: 100%;
    padding-left: 0;
  }
}

.service-title {
  margin-top: 0;
  margin-bottom: .5em;
  @include script;
  line-height: 1.4em;
  color: $light-purple;
  @include width-below ($medium-small-width){
    margin-top: 1em;
  }
}

.service-image{
  max-width: 30%;
  display: inline-block;
  vertical-align: top;
  @include width-below ($medium-small-width){
    max-width: 100%;
    display: block;
  }
}

.service-description {
  line-height: 1.6em;
  font-size:1em;
  margin-top: 0;
}