.featured-item-section{
  position: relative;
  z-index: 250;
  padding-top: 5em;
  padding-bottom: 5em;
}

.featured-item-content-wrapper {
  max-width: $medium-large-width - 2.25em;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  text-align: center;
  position: relative;
  & .section-title-text{
    @include fast-transition-on-property(all);
  }
  & .image-cover{
    opacity: 0;
    background-color: $dark-gray;
			position: absolute;
			right: 0; top: 0; bottom: 0; left: 0;
    @include fast-transition-on-property(opacity);
  }
  
  &:hover{
    & .section-title-text{
      color: $light-purple;
    }
	  & .image-cover{
		  
			opacity: .6;
	  }
	  & .featured-item-view-cta {
		  @include link-button-style;
		  position: absolute;
		  top: 40%;
		  right: 40%;
		  color: white;
		  border-color: white;
		  display: block;
		  @include width-below ($medium-width){
				right: 45%;
			}
		}
  }
}

.featured-item-flower{
  position: absolute;
  top: 6.5em;
  right: -4.5em;
  z-index: 500;
  @include width-below ($medium-width){
		top: 14.5em;
	}
	@include width-below ($medium-small-width){
		top: 10em;
		right: -5em;
	}
}

.featured-item-text-container {
  //background: $lighter-gray;
  border: 1px solid $lighter-gray;
  width: 50%;
  display: inline-block;
	height: 16em;
	vertical-align: top;
	padding: 3em;
	box-sizing: border-box;
	@include width-below ($medium-large-width){
		padding: 1.5em;
	}
	@include width-below ($medium-width){
		width: 100%;
		height: auto;
	}
	@include width-below ($medium-small-width){
		padding: 1em .5em;
	}
}

.section-title-text {
  color: $dark-green;
  margin-bottom: .5em;
  &.featured-item{
	  color: $dark-gray;
	  @include width-below ($medium-large-width){
			margin-bottom: .2em;
		}
  }
}

.featured-item-title {
  color: $dark-gray;
  display: block;
  line-height: 1.7em;
      max-width: 80%;
    margin: 0 auto;
}

.featured-item-price {
  color: $dark-gray;
  display: block;
  margin-top: 1em;
  font-size: 1.2em;
}

.featured-item-image-wrapper {
  background-image: url('../images/weddings/wedding-2.jpg');
  background-size: cover;
  background-position: center center;
  width: 50%;
  display: inline-block;
  height: 16em;
  margin-left: -.25em;
  position: relative;
  @include width-below ($medium-width){
		width: 100%;
		height: 13em;
		margin-left: 0;
	}
	@include width-below ($medium-small-width){
		height: 10em;
	}
}

.featured-item-view-cta{
	display: none;
}
