ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*, *:before, *:after{
  box-sizing: border-box;
}

button, a{
  &:focus{
    outline: none;
    }
}

body {
  margin: 0;
  font-size: 1em;
  @include garamond;
  color: $dark-gray;
}

.overflow-wrap {
  position: relative;
  overflow: hidden;
  background: $light-purple;
}

.transform-wrap {
  position: relative;
  margin: 0 auto;
  background: white;
  overflow: hidden;
  min-height: 100vh;
  max-width: $extra-large-width;
}

section{
  margin: 0 auto;
  background: white;
  position: relative;
  padding: 3em 1.5em;
  @include width-below ($medium-width){
	  padding: 1em .75em;
  }
}

.inner-wrap{
  max-width: 70em;
  margin: 0 auto;
  position: relative;
}

@mixin link-button-style{
  border: 1px solid $dark-green;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em 1em;
  letter-spacing: .1em;
}

::selection {
  background: $light-gray;
}
::-moz-selection {
  background: $light-gray;
}
