.introduction-section{
	position: relative;
  padding-bottom: 5em;
  text-align: center;
  z-index: 300;
  &.subpage{
    padding-bottom: 0;
  }
  @include width-below ($medium-width){
	  padding-top: 3em;
  }
}

.feather{
  position: absolute;
  z-index: 100;
  right: 13.5em;
	bottom: -7em;
	transform: rotate(11deg);
	z-index: 300;
	@include width-below ($large-width){
		right: 0;
	}
	@include width-below ($medium-width){
		right: -7em;
	}
}

.introduction-quote-author{
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .15em;
  display: block;
  margin-top: 2em;
}

.introduction-quote{
	text-align: center;
  margin: 0 auto;
  display: block;
  @include script;
  font-size: 2em;
  color: $dark-green;
  line-height: 1.2em;
  position: relative;
}

.flowers-2{
  position: absolute;
  top:0;
  left: -5em;
  z-index: 400;
  transform: scale(.85);
  @include slow-transition-on-property (all);
  &.scroll{
    left: 2em;
    top: 9em;
    @include width-below ($large-width + 5em){
      left: -4em;
    }
    @include width-below ($large-width){
		  left:-6em;
		  top: 9em;
	  }
  }
  @include width-below ($medium-large-width){
    display: none;
  }
  @include width-below ($medium-width){
		  display: none;
	  }
}

.page-title{
  @include section-title-text;
}