@charset "UTF-8";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("//hello.myfonts.net/count/2fa9fb");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

li {
  list-style-type: none; }

/**
 * @license
 * MyFonts Webfont Build ID 3123707, 2015-11-11T10:51:10-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: JacquesGilles by Emily Lime
 * URL: http://www.myfonts.com/fonts/emily-lime/jacques-and-gilles/regular/
 * Copyright: Copyright (c) 2012 by Emily Conners. All rights reserved.
 * Licensed pageviews: 20,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3123707
 * 
 * © 2015 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'JacquesGilles';
  src: url("../fonts/2FA9FB_0_0.woff") format("woff"); }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?267vlq");
  src: url("../fonts/icomoon.eot?267vlq#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?267vlq") format("truetype"), url("../fonts/icomoon.woff?267vlq") format("woff"), url("../fonts/icomoon.svg?267vlq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.section-title-image {
  text-align: center;
  margin: 0 auto;
  display: block; }

.section-title-text {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-family: JacquesGilles;
  font-weight: normal;
  font-style: normal;
  font-size: 2.5em;
  color: #537473;
  line-height: 1.2em;
  position: relative; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

button:focus, a:focus {
  outline: none; }

body {
  margin: 0;
  font-size: 1em;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  color: #282126; }

.overflow-wrap {
  position: relative;
  overflow: hidden;
  background: #a78ba4; }

.transform-wrap {
  position: relative;
  margin: 0 auto;
  background: white;
  overflow: hidden;
  min-height: 100vh;
  max-width: 100em; }

section {
  margin: 0 auto;
  background: white;
  position: relative;
  padding: 3em 1.5em; }

.inner-wrap {
  max-width: 70em;
  margin: 0 auto;
  position: relative; }

::selection {
  background: #ddd; }

::-moz-selection {
  background: #ddd; }

header {
  margin: 0 auto;
  text-align: center;
  position: relative;
  background-image: url("../images/paper.png");
  background-repeat: repeat;
  padding: 1.5em;
  height: 42em;
  background-position: center center;
  background-attachment: fixed; }
  header:after {
    content: url("../images/paper-top.png");
    position: absolute;
    bottom: -1.5em;
    right: 0;
    left: 0;
    z-index: 100; }
  header.subpage {
    height: 27em; }

.fixed-wrapper {
  position: fixed;
  top: 17em;
  right: 1.5em;
  left: 1.5em;
  bottom: 0;
  z-index: 100; }
  .subpage .fixed-wrapper {
    top: 8em; }

.header-home-link {
  text-decoration: none;
  position: relative;
  width: 28em;
  max-width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto; }

.header-logo-image {
  max-width: 100%;
  margin-bottom: .25em; }
  .header-logo-image:hover {
    transform: scale(1.02); }

.main-nav-link-list > li {
  display: inline-block;
  padding: 0 1.25em; }

.main-nav-link {
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #537473;
  letter-spacing: .16em;
  font-size: 1.2em;
  position: relative; }
  .main-nav-link.current:after {
    content: url("../images/link-leaf-hover.png");
    position: absolute;
    bottom: -1.65em;
    right: 30%; }
  .main-nav-link.current:hover {
    border-bottom: none; }
  .main-nav-link:hover {
    border-bottom: 1px solid #89a3a4; }

.flower-wrapper {
  height: 90vh; }

.bottom-left {
  position: absolute;
  bottom: -9em;
  right: 0;
  left: 0; }
  .subpage .bottom-left {
    bottom: -16em;
    left: -8em; }

.top-left {
  position: absolute;
  top: -1em;
  right: 0;
  left: -2em; }
  .subpage .top-left {
    top: -11em;
    left: -7em; }

.top-right {
  position: absolute;
  top: -2em;
  right: 0;
  left: 0; }
  .subpage .top-right {
    top: -9em;
    right: -9em; }

.bottom-right {
  position: absolute;
  top: 0em;
  right: 0;
  left: 0; }
  .subpage .bottom-right {
    top: -12em;
    right: 0; }

.header-thistle {
  position: absolute;
  bottom: -3em;
  right: 16em;
  z-index: 400; }
  .subpage .header-thistle {
    bottom: -13em;
    z-index: 100; }

.introduction-section {
  position: relative;
  padding-bottom: 5em;
  text-align: center;
  z-index: 300; }
  .introduction-section.subpage {
    padding-bottom: 0; }

.feather {
  position: absolute;
  z-index: 100;
  right: 13.5em;
  bottom: -7em;
  transform: rotate(11deg);
  z-index: 300; }

.introduction-quote-author {
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .15em;
  display: block; }

.introduction-quote {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-family: JacquesGilles;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  color: #537473;
  line-height: 1.2em;
  position: relative; }

.flowers-2 {
  position: absolute;
  top: 0;
  left: -5em;
  z-index: 400;
  transform: scale(0.85); }
  .flowers-2.scroll {
    left: 2em;
    top: 9em; }

.page-title {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-family: JacquesGilles;
  font-weight: normal;
  font-style: normal;
  font-size: 2.5em;
  color: #537473;
  line-height: 1.2em;
  position: relative; }

.featured-item-section {
  position: relative;
  z-index: 250; }

.featured-item-content-wrapper {
  max-width: 49.75em;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  text-align: center;
  position: relative; }
  .featured-item-content-wrapper:hover .image-cover {
    background-color: #282126;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: .6; }
  .featured-item-content-wrapper:hover .featured-item-view-cta {
    border: 1px solid #537473;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5em 1em;
    letter-spacing: .1em;
    position: absolute;
    top: 40%;
    right: 40%;
    color: white;
    border-color: white;
    display: block; }

.featured-item-flower {
  position: absolute;
  top: 6.5em;
  right: -4.5em;
  z-index: 500; }

.featured-item-text-container {
  background: #f7f7f7;
  width: 50%;
  display: inline-block;
  height: 16em;
  vertical-align: top;
  padding: 3em;
  box-sizing: border-box; }

.section-title-text {
  color: #537473;
  margin-bottom: .5em; }
  .section-title-text.featured-item {
    color: #282126; }

.featured-item-title {
  color: #282126;
  display: block;
  text-transform: uppercase;
  line-height: 1.7em;
  max-width: 80%;
  margin: 0 auto; }

.featured-item-price {
  color: #282126;
  display: block;
  margin-top: 1em;
  font-size: 1.2em; }

.featured-item-image-wrapper {
  background-image: url("../images/featured-item.png");
  background-size: cover;
  background-position: center center;
  width: 50%;
  display: inline-block;
  height: 16em;
  margin-left: -.25em;
  position: relative; }

.featured-item-view-cta {
  display: none; }

.instafeed-section {
  z-index: 225; }

#instafeed {
  margin: 0 auto;
  text-align: center;
  max-width: 52em; }
  #instafeed li {
    padding: .5em;
    display: inline-block;
    width: 32.5%;
    height: 16em;
    overflow: hidden;
    box-sizing: border-box; }

.instagram-link {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #ddd; }

.instagram-image {
  position: absolute;
  top: -2em;
  left: -2em; }

.instagram-link:hover > .instagram-image {
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }

.insta-thistle {
  position: absolute;
  right: -6em;
  top: 20em;
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }

.gold-leaves {
  position: absolute;
  left: 5em;
  bottom: -2em;
  transform: rotate(-19deg); }

.insta-thistle-left {
  position: absolute;
  left: -4em;
  top: 10em;
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }

.main-copy-section {
  position: relative;
  background: white;
  z-index: 300; }

.main-copy {
  letter-spacing: .05em;
  max-width: 60em;
  margin: 0 auto;
  	/*
  & h3 {
    	font-size:1.25em;
    	& ~ ol{
        margin-top: .5em;
      }
      & ~ ul{
        margin-top: .5em;
      }
      & ~ h4{
        margin-top: 1.25em;
      }
      & ~ p{
        margin-top: .5em;
      }
  	}
  	
  	& h4 {
      
  	}
  	
    & h5 {
      
    }
    
    & h6 {
  
    }
  
  & ul {
      @include main-copy-list;
      & > li {
        &:before{
          content: "•";
          top:-0.05em;
          font-size:1em;
        }
        
        & ul{
          font-size:0.95em;
        }
      }
    }
    
    & ol {
      @include main-copy-list;
    	counter-reset: item;
      & > li {
        &:before {
          content: counter(item); 
          counter-increment: item; 
          top:0.02em;
          font-size:0.85em;
        }
        
        & ol{
          font-size:0.95em;
        }
      }
    }
  */ }
  .main-copy.center {
    text-align: center;
    max-width: 38em;
    margin: 0 auto; }
  .main-copy a {
    color: #a78ba4;
    text-decoration: none; }
    .main-copy a:hover {
      border-bottom: 1px solid #a78ba4; }
  .main-copy img {
    display: block;
    margin: 0 auto;
    width: auto !important;
    height: auto !important;
    max-width: 100% !important; }
  .main-copy p {
    line-height: 1.6em;
    font-size: 1.15em;
    margin-top: 0; }
  .main-copy h2 {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-family: JacquesGilles;
    font-weight: normal;
    font-style: normal;
    font-size: 2.5em;
    color: #537473;
    line-height: 1.2em;
    position: relative;
    padding: 1.5em 0 .5em; }
  .main-copy > blockquote {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-family: JacquesGilles;
    font-weight: normal;
    font-style: normal;
    font-size: 2.5em;
    color: #537473;
    line-height: 1.2em;
    position: relative;
    max-width: 15em;
    padding: 1em 0;
    font-size: 2em;
    color: #a49051; }

.main-photo {
  margin-bottom: 1.5em !important; }

.three-column-image-list {
  margin-bottom: 1.5em;
  /*
@if is-gte-ie9(){
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    @include width-below ($medium-width){
      -webkit-column-gap: 10px;
      -moz-column-gap: 10px;
      column-gap: 10px;
    }
  }
*/
  margin-right: -1.25em; }
  .three-column-image-list.second {
    margin-top: 1em; }
  .three-column-image-list > li {
    width: 32.8%;
    display: inline-block;
    padding-right: 1em; }
    .three-column-image-list > li img {
      max-width: 100%; }

/*
.iframe-responsive-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 2em;
    height: 0;
    overflow: hidden;
}

.iframe-responsive-wrapper iframe,   
.iframe-responsive-wrapper object,  
.iframe-responsive-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/
.mainbody-thistle {
  position: absolute;
  right: -6em;
  top: 20em;
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }

.gold-leaves {
  position: absolute;
  left: 5em;
  bottom: -2em;
  transform: rotate(-19deg); }

.mainbody-thistle-left {
  position: absolute;
  left: -4em;
  top: 50em;
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }

.mainbody-flowers {
  position: absolute;
  right: 4em;
  bottom: 28em; }

.services-section {
  position: relative;
  background: white;
  z-index: 300; }

.services-list {
  max-width: 60em;
  margin: 0 auto; }
  .services-list > li + li {
    padding-top: 2.5em; }
  .services-list > li:nth-child(even) {
    direction: rtl;
    text-align: left; }
    .services-list > li:nth-child(even) .service-text-wrapper {
      padding-left: 0;
      padding-right: 1em; }

.service-text-wrapper {
  display: inline-block;
  width: 69%;
  padding-left: 1em;
  direction: ltr; }

.service-title {
  margin-top: 0;
  margin-bottom: .5em;
  font-family: JacquesGilles;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4em;
  color: #a78ba4; }

.service-image {
  max-width: 30%;
  display: inline-block;
  vertical-align: top; }

.service-description {
  line-height: 1.6em;
  font-size: 1.15em;
  margin-top: 0; }

.text-field, .message-field {
  padding: 1.5em .5em .5em .5em;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 1em;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  letter-spacing: .1em;
  cursor: pointer;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }
  .text-field:focus, .message-field:focus {
    border: 1px solid #a49051;
    background: #f7f7f7; }
  .text-field:hover, .message-field:hover {
    background: #f7f7f7; }

.text-field {
  outline: none; }

.message-field {
  height: 12em;
  outline: none;
  padding-right: 3.75em;
  padding-bottom: 1em; }

.form-check-label {
  position: relative; }
  .form-check-label:before {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ddd;
    width: 1.35em;
    height: 1.35em; }

.form-section {
  position: relative;
  z-index: 300;
  background: white; }

.form-section-center-margin-wrap {
  max-width: 40em;
  margin: 0 auto;
  position: relative; }

.form-snippet {
  padding-bottom: 0; }
  .main-copy + .form-snippet {
    padding-top: 1em; }
  .form-snippet.fade {
    opacity: .1;
    pointer-events: none; }

.form-section-required-note {
  display: block;
  font-size: .8em; }

.field-list {
  margin-left: -1em;
  vertical-align: top;
  box-sizing: border-box; }
  .field-list > li {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: 1.3em;
    padding-left: 1em; }
    .field-list > li.half-width {
      width: 49.75%; }

.field-label {
  display: block;
  position: absolute;
  top: 1.1em;
  left: .9em;
  padding-left: .5em;
  pointer-events: none;
  text-transform: uppercase;
  color: #a49051;
  letter-spacing: .1em; }
  .field-label .is-active, .is-completed .field-label {
    font-size: .7em;
    top: .5em;
    left: 1.65em; }
  .field-label.small-label {
    font-size: .7em;
    top: -.3em; }
  .required > .field-label:after {
    content: "*"; }
  .field-label.message {
    top: .5em;
    width: 100%; }
  .fade .field-label {
    cursor: default !important; }

.text-field {
  width: 100%; }
  .fade .text-field {
    cursor: default !important; }
  .fade .text-field {
    cursor: default !important; }

.small-field-label {
  font-size: .8em;
  text-transform: none; }

.fade .message-field {
  cursor: default !important; }

.form-check-input-list > li {
  margin-top: 1em;
  display: inline-block;
  width: 49%; }

.form-check-input {
  position: absolute;
  visibility: hidden; }

.form-check-label {
  display: inline-block;
  position: relative;
  padding-left: 1.5em;
  cursor: pointer; }
  .form-check-label:before {
    color: white; }
  .form-check-label.checked:before {
    color: #BB3030; }
  .invalid .form-check-label {
    color: #BB3030; }
  .required .form-check-label:after {
    content: "*";
    color: #BB3030; }
  .fade .form-check-label {
    cursor: default !important; }

.form-action-list {
  text-align: center;
  margin-top: 1em; }
  .form-action-list > li {
    position: relative; }

.form-action-state {
  position: relative; }

.form-action-button {
  border: 1px solid #537473;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em 1em;
  letter-spacing: .1em;
  color: #537473;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 1.1em;
  background: white;
  cursor: pointer;
  margin: 0 auto;
  display: block; }
  .form-action-button:hover {
    background: #537473;
    color: white; }
  .form-action-button.disabled {
    background: #ddd;
    pointer-events: none;
    border: 1px solid #ddd;
    color: white; }

.form-action-validation-message {
  display: none; }
  .form-action-validation-message.visible {
    display: block;
    position: absolute;
    top: 3em;
    right: 0;
    left: 0;
    color: #BB3030; }

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #ddd;
  background: white; }

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✗';
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 1em;
  line-height: 0.8;
  width: .65em;
  height: .65em;
  color: #a49051; }

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

label:hover:before {
  background: #f7f7f7 !important; }

.flowers-form {
  position: absolute;
  bottom: -2em;
  right: -9.5em;
  transform: rotate(-63deg) scale(0.7);
  z-index: 300; }

.feather-form {
  position: absolute;
  bottom: -2em;
  left: -5.5em;
  transform: rotate(235deg) scale(-0.8);
  z-index: 300; }

input.error, textarea.error {
  border: 1px solid #BB3030; }
  input.error:focus, textarea.error:focus {
    border: 1px solid #BB3030; }

.success-message {
  display: none; }
  .success-message.visible {
    display: block;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #a78ba4;
    font-size: 1.2em; }
    .success-message.visible .large-message {
      display: block;
      font-size: 1.8em;
      font-family: JacquesGilles;
      font-weight: normal;
      font-style: normal;
      line-height: 1.5em;
      margin-bottom: .25em; }

.error-message {
  display: none; }
  .error-message.visible {
    display: block;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #BB3030;
    font-size: 1.2em; }
    .error-message.visible .large-message {
      display: block;
      font-size: 1.8em;
      font-family: JacquesGilles;
      font-weight: normal;
      font-style: normal;
      line-height: 1.5em;
      margin-bottom: .25em; }
  .error-message a {
    color: #BB3030;
    text-decoration: none;
    border-bottom: none; }
    .error-message a:hover {
      border-bottom: 1px solid #BB3030; }

.small-label.error {
  color: #BB3030; }

.contact-cta-section {
  text-align: center;
  margin-bottom: -1em;
  position: relative;
  z-index: 550; }

.contact-cta-link {
  border: 1px solid #537473;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em 1em;
  letter-spacing: .1em;
  color: #537473; }
  .contact-cta-link:hover {
    background: #537473;
    color: white; }

.contact-feather {
  position: absolute;
  z-index: 100;
  right: 5.5em;
  bottom: -4em; }

.footer {
  text-align: center;
  background-image: url("../images/paper.png");
  background-repeat: repeat;
  background-position: top center;
  position: relative;
  padding-top: 4.5em;
  padding-bottom: 3.25em;
  z-index: 600; }
  .footer:before {
    content: url("../images/paper-bottom.png");
    position: absolute;
    top: -.25em;
    right: 0; }

.social-link-list {
  padding-top: 1em; }
  .social-link-list > li {
    display: inline-block;
    padding: 0 .5em; }

.social-link {
  text-decoration: none;
  font-size: 2.5em; }
  .social-link:before {
    color: #a78ba4;
    font-family: icomoon; }
  .social-link.etsy:before {
    content: ""; }
  .social-link.instagram:before {
    content: ""; }
  .social-link:hover:before {
    color: #5b394a; }

.copyright-text {
  font-size: .8em;
  color: #537473;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  position: relative; }
  .copyright-text:after {
    content: url("../images/footer-leaf.png");
    position: absolute;
    bottom: -6.25em;
    right: -7.5em; }

.footer-thistle {
  position: absolute;
  bottom: -4.25em;
  left: -2em;
  z-index: 400; }
