.contact-cta-section{
  text-align: center;
  margin-bottom: -1em;
  position: relative;
  z-index: 550;
  @include width-below ($medium-width){
	  margin-bottom: 0;
  }
}

.contact-cta-link{
  @include link-button-style;
  color: $dark-green;
  @include fast-transition-on-property (all);
  &:hover{
    background: $dark-green;
    color: white;
  }
}

.contact-feather{
  position: absolute;
  z-index: 100;
  right: 5.5em;
  bottom: -4em;
  @include width-below ($large-width + 5em){
	  right: -3em;
  }
  @include width-below ($large-width){
	  right: -6em;
  }
  @include width-below ($medium-width){
	  right: -8em;
	  bottom: -7em;
  }
  @include width-below ($medium-small-width){
    display: none;
  }
}
