%large-entry-field {
  padding: 1.5em .5em .5em .5em;
  border: 1px solid $light-gray;
  width: 100%;
  font-size: 1em;
  @include garamond;
  letter-spacing: .1em;
  cursor: pointer;
-webkit-border-radius: 0;
  -webkit-appearance: none;
  @include fast-transition-on-property(background);
  &:focus{
    border: 1px solid $gold;
    background: $lighter-gray;
  }
  &:hover{
	  background: $lighter-gray;
  }
}

%large-single-line-text-field {
  @extend %large-entry-field;
  outline: none;
  
}

%large-multi-line-text-field {
  @extend %large-entry-field;
  height: 12em;
  outline: none;
  padding-right: 3.75em;
  padding-bottom: 1em;
}

%large-checkable-field {
  display: none;
}

%large-checkable-field-label {
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $light-gray;
      width: 1.35em;
      height: 1.35em;
 }
}

@mixin form-action-state-hides-right {
  &.current {
    opacity: 1;
    right: 0;
    position: relative;
    }
  &.not-current {
    opacity: 0;
    position: absolute;
    right: -100%;
    top: 0;
    max-width: 100%;
  }
}

@mixin form-action-state-hides-left {
  &.current {
    opacity: 1;
    left: 0;
    position: relative;
  }
  &.not-current {
    opacity: 0;
    position: absolute;
    left: -100%;
    top: 0;
    max-width: 100%;
  }
}


.form-section {
  position: relative;
	z-index: 300;
	background: white;  
	@include width-below ($medium-width){
  	padding-bottom: 2em;
	}
}



.form-section-center-margin-wrap {
  max-width: $medium-width;
  margin: 0 auto;
  position: relative;
}

.form-snippet {
  padding-bottom: 0;
  .main-copy + & {
    padding-top: 1em;
  }
  &.fade{
  	opacity: .1;
  	pointer-events: none;
	}
}

.form-section-required-note {
  display: block;
  font-size: .8em;
}

.field-list {
  margin-left: -1em;
  vertical-align: top;
  box-sizing: border-box;
  & > li {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: 1.3em;
    padding-left: 1em;
    &.half-width{
      width: 49.75%;
      @include width-below ($medium-width + 5em){
        width: 100%;
      }
    }
  }
}

.field-label {
  display: block;
  position: absolute; 
  top: 1.1em;
  left: .9em;
  padding-left: .5em;
  pointer-events: none;
  text-transform: uppercase;
  color: $gold;
  letter-spacing: .1em;
  @include fast-transition-on-property (all);
  .is-active, .is-completed &{
    font-size: .7em;
    top: .5em;
    left: 1.65em;
  }
  &.small-label{
    font-size: .7em;
    top: -.3em;
  }
  .invalid > & {
  }
  .required > &:after {
    content: "*";
  }
  &.message{
    top: .5em;
    width: 100%;
  }
  .fade &{
    cursor: default !important;
  }
}

.text-field {
  @extend %large-single-line-text-field;
    width: 100%;
    .fade &{
    cursor: default !important;
  }
.fade &{
    cursor: default !important;
  }
}

.small-field-label {
  font-size: .8em;
  text-transform: none;
}

.message-field {
  @extend %large-multi-line-text-field;
  .fade &{
    cursor: default !important;
  }
  @include width-below ($small-width - 5em){
    padding-top: 2em;
  }
}

.form-check-input-list{
  & > li{
    margin-top: 1em;
    display: inline-block;
    width: 49%;
    @include width-below ($medium-width){
      width: 100%;
    }
  }
}

.form-check-input{
  position: absolute;
  visibility: hidden;
}

.form-check-label{
  display: inline-block;
  position: relative;
    padding-left: 1.5em;
    cursor: pointer;
    @extend %large-checkable-field-label;
  &:before{
    color: white;
    }
  &.checked{
    &:before{
      color: $red;
    }
  }

  .invalid & {
    color: $red;
  }
  .required &:after {
    content: "*";
    color: $red;
  }
  .fade &{
    cursor: default !important;
  }
}

.form-action-list {
  text-align: center;
  margin-top: 1em;
  & > li {
    position: relative;
  }
}

.form-action-state {
  position: relative;
}

.form-action-button {
  @include link-button-style;
  color: $dark-green;
  @include garamond;
  font-size: 1.1em;
  background: white;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  @include fast-transition-on-property (all);
  &:hover{
    background: $dark-green;
    color: white;
  }
  &.disabled{
    background: $light-gray;
    pointer-events: none;
    border: 1px solid $light-gray;
    color: white;
  }
}

.form-action-validation-message {
  display: none;
  &.visible{
    display: block;
    position: absolute;
    top: 3em;
    right: 0;
    left: 0;
    color: $red;
  }
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid $light-gray;
  background: white;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✗';
  position: absolute;
  top: 4px; left: 4px;
  font-size: 1em;
  line-height: 0.8;
  width: .65em;
  height: .65em;
  color: $gold;
  @include fast-transition-on-property(all);
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

label:hover:before {
  background: $lighter-gray !important;
}

.flowers-form{
  position: absolute;
  bottom: -2em;
  right: -9.5em;
  transform: rotate(-63deg) scale(0.7);
  z-index: 300;
}
.feather-form{
  position: absolute;
  bottom: -2em;
  left: -5.5em;
  transform: rotate(235deg) scale(-.8);
  z-index: 300;
  @include width-below ($medium-width){
	  left: -8em;
	  bottom: -1em;
  }
}

input.error, textarea.error{
  border: 1px solid $red;
  &:focus{
    border: 1px solid $red;
  }
}

.success-message{
  display: none;
  &.visible{
    & .large-message{
      display:block;
      font-size: 2em;
      @include script;
      line-height: 1.5em;
      margin-bottom: .25em;
    }
    display:block;
    position:absolute;
    top:35%;
    width:100%;
    text-align: center;
    margin: 0 auto;
    color: $light-purple;
    font-size: 1em;
    @include width-below ($medium-width){
      top: 60%;
    }
  }
}
      
.error-message{
  display: none;
  &.visible{
    & .large-message{
      display:block;
      font-size: 2em;
      @include script;
      line-height: 1.5em;
      margin-bottom: .25em;
    }
    display:block;
    position:absolute;
    top:35%;
    width:100%;
    text-align: center;
    margin: 0 auto;
    color: $red;
    font-size: 1em;
    @include width-below ($medium-width){
      top: 60%;
    }
  }
  & a{
    color: $red;
    text-decoration: none;
    border-bottom: none;
    &:hover{
      border-bottom: 1px solid $red;  
    }
  }
}

.small-label{
  &.error{
    color: $red;
  }
}