header{
  margin: 0 auto;
  text-align: center;
  position: relative;
  background-image: url('../images/paper.png');
  background-repeat: repeat;
  padding: 1.5em;
  height: 42em;
  background-position: center center;
  &:after{
	  content: url('../images/paper-top.png');
	  position: absolute;
	  bottom: -1.5em;
	  right: 0;
	  left:0;
	  z-index: 100;
		}
  &.subpage{
    height: 27em;
    @include width-below ($medium-width){
      height: 23em;
    }
  }
  @include width-below ($medium-large-width){
    height: 30em;
  }
  @include width-below ($medium-width){
    height: 23em;
  }
  @include width-above ($medium-width){
    background-attachment: fixed;
  }
}

.fixed-wrapper{
  position: fixed;
  top: 17em;
  right: 1.5em;
  left: 1.5em;
  bottom: 0;
  z-index: 100;
  .subpage &{
    top: 8em;
  }
  @include width-below ($medium-large-width){
	  top: 10em;
	  position: absolute;
  }
  @include width-below ($medium-width){
	  top: 7em;
	  
  }
}

.header-home-link{
  text-decoration: none;
  position: relative;
  width: 28em;
  max-width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
    @include width-below ($medium-width){
      width: 23em;
    }
}

.header-logo-image{
  max-width: 100%;
  margin-bottom: .25em;
}

.main-nav-link-list{
  & > li{
    display: inline-block;
    padding: 0 1.25em;
  }
  @include width-below ($medium-width){
      & > li{
      padding: 0 1em 1em 1em;
      font-size: .75em;
      }
    }
}

.main-nav-link{
  text-decoration: none;
  @include open-sans-condensed;
  text-transform: uppercase;
  color: $dark-green;
  letter-spacing: .16em;
  font-size: 1.2em;
  position: relative;
  &.current{
	  @include width-above ($medium-width){
  	  &:after{
    	  content: url('../images/link-leaf-hover.png');
  	  position: absolute;
  	  bottom: -1.65em;
  	  right: 30%;
  	  }
	  }
	  @include width-below ($medium-width){
  	  border-bottom: 1px solid $light-green;
	  }
	  &:hover{
      border-bottom: none;
    }
  }
  &:hover{
    border-bottom: 1px solid $light-green;
  }
}

.flower-wrapper{
	height: 90vh;
}

.bottom-left{
  position: absolute;
	bottom: -9em;
	right: 0;
	left:0;
  .subpage &{
	   bottom: -16em;
     left: -8em;
     @include width-below (100em){
    left: -5em;
  }
  @include width-below (87em){
    left: -8em;
  }
  @include width-below (80em){
    left: -12em;
  }
  @include width-below (73em){
    left: -17em;
  }
  @include width-below (63em){
    left: -20em;
  }
  @include width-below (54em){
    left: -20em;
    bottom: -17em;
  }
  @include width-below (44em){
    left: -23em;
  }
  @include width-below (40em){
    left: -24em;
  }
  @include width-below (30em){
    left: -26em;
    bottom: -19em;
  }
  }
  @include width-below (100em){
    left: -5em;
  }
  @include width-below (87em){
    left: -8em;
  }
  @include width-below (80em){
    left: -12em;
  }
  @include width-below (73em){
    left: -17em;
  }
  @include width-below (63em){
    left: -20em;
  }
  @include width-below (54em){
    left: -20em;
    bottom: -13em;
  }
  @include width-below (44em){
    left: -23em;
    bottom: -13em;
  }
  @include width-below (40em){
    left: -24em;
    bottom: -17em;
  }
  @include width-below (30em){
    left: -26em;
    bottom: -17em;
  }
}

.top-left{
  position: absolute;
	top: -1em;
	right: 0;
	left:-2em;
  .subpage &{
  	top: -11em;
    left: -7em;
      @include width-below (87em){
        left: -8em;
      }
      @include width-below (80em){
        left: -12em;
      }
      @include width-below (73em){
        left: -17em;
      }
      @include width-below (63em){
        left: -20em;
      }
      @include width-below (54em){
        left: -28em;
        top: -11em;
      }
      @include width-below (44em){
        left: -30em;
      }
      @include width-below (30em){
        left: -32em;
      }
  }
  @include width-below (100em){
    left: -7em;
    top: -1em;
  }
  @include width-below (87em){
    left: -8em;
  }
  @include width-below (80em){
    left: -12em;
  }
  @include width-below (73em){
    left: -17em;
  }
  @include width-below (63em){
    left: -20em;
  }
  @include width-below (54em){
    left: -25em;
    top: -5em;
  }
  @include width-below (44em){
    left: -30em;
    top: -8em;
  }
  @include width-below (30em){
    left: -32em;
    top: -10em;
  }
}

.top-right{
	position: absolute;
	top: -2em;
	right: 0;
	left:0;
	.subpage &{
    top: -9em;
    right: -9em;
	}
	@include width-below (90em){
    left: -10em;
  }
	@include width-below (85em){
    left: -15em;
  }
  @include width-below (54em){
    left: -28em;
    top: -5em;
  }
  @include width-below (44em){
    top: -10em;
  }
  @include width-below (30em){
    left: -35em;
  }
}

.bottom-right{
	position: absolute;
	top: 0em;
	right: 0;
	left:0;
	.subpage &{
    top: -12em;
    right: 0;
	}
	@include width-below (90em){
    left: -10em;
  }
	@include width-below (75em){
    left: -20em;
  }
  @include width-below (54em){
    left: -20em;
  }
}

.header-thistle{
	position: absolute;
	bottom: -3em;
	right:16em;
	z-index: 400;
	@include width-below (100em){
    right: 13em;
  }
  @include width-below (87em){
    right: 10em;
  }
  @include width-below (80em){
    right: 3em;
  }
  @include width-below (73em){
    right: 2em;
  }
  @include width-below (63em){
    right: -4em;
  }
  @include width-below (54em){
    right: -7em;
    bottom: 0em;
  }
  @include width-below (44em){
    right: -13em;
    bottom: -6em;
  }
  @include width-below (30em){
    right: -13em;
    bottom: -12em;
  }
  .subpage &{
    bottom: -13em;
    z-index: 100;
  }
}