@function is-gte-ie9( ) {
  @if ( $stylesheet-id == 'ie9' ) { @return true; }
  @if ( $stylesheet-id == 'standards' ) { @return true; }
  @return false;
}

@function is-standards( ) {
  @if ( $stylesheet-id == 'standards' ) { @return true; }
  @return false;
}

@mixin width-above ( $p-start ) {
  @if ( is-gte-ie9() ) {
    @media (min-width: $p-start) {
      @content;
    }
  } 
  
  @else {
    @content;
  }
}

@mixin width-below ( $p-start ) {
  @if ( is-gte-ie9() ) {
    @media (max-width: $p-start - 0.001em ) {
      @content;
    }
  }
}

@mixin width-between ( $p-start, $p-end ) {
  @if ( is-gte-ie9() ) {
    @media ( min-width: $p-start ) and (max-width: $p-end - 0.001em ) {
      @content;
    }
  }
}

@mixin internal-prefix-property-not-value ( $p-prop, $p-value... ) {
  #{$p-prop}: $p-value;
  -webkit-#{$p-prop}: $p-value;
  -o-#{$p-prop}: $p-value;
  -moz-#{$p-prop}: $p-value;
  -ms-#{$p-prop}: $p-value;
}

@mixin transition-property ( $p-value... ) {
  @if ( is-standards() ) {
    @include internal-prefix-property-not-value ( transition-property, $p-value );
  }
}

@mixin transition-timing-function ( $p-value... ) {
  @if ( is-standards() ) {
    @include internal-prefix-property-not-value ( transition-timing-function, $p-value );
  }
}

@mixin transition-duration ( $p-value... ) {
  @if ( is-standards() ) {
    @include internal-prefix-property-not-value ( transition-duration, $p-value );
  }
}

