/**
 * @license
 * MyFonts Webfont Build ID 3123707, 2015-11-11T10:51:10-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: JacquesGilles by Emily Lime
 * URL: http://www.myfonts.com/fonts/emily-lime/jacques-and-gilles/regular/
 * Copyright: Copyright (c) 2012 by Emily Conners. All rights reserved.
 * Licensed pageviews: 20,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3123707
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2fa9fb");

  
@font-face {
  font-family: 'JacquesGilles';
  src: url('../fonts/2FA9FB_0_0.woff') format('woff');
  }
 