.instafeed-section{
	z-index: 225;
}

#instafeed{
	margin: 0 auto;
  text-align: center;
  max-width: $medium-large-width;
	& li{
		padding: .5em;
		display: inline-block;
		width: 33.3%;
		overflow: hidden;
		box-sizing: border-box;
		@include width-below ($medium-width){
  		width: 50%;
		}
		@include width-below ($small-width){
  		width: 100%;
		}
	}
}

.instagram-link{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: block;
	//border: 1px solid $lightest-gray;
}
.instagram-image{
  @include slow-transition-on-property (transform);
  margin-bottom: -4px;
  max-width: 100%;
}
.instagram-link{
  &:hover{
    & > .instagram-image{
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }
}

/*
#instafeed{
	margin: 0 auto;
  text-align: center;
  max-width: $medium-large-width;
	& li{
		padding: .5em;
		display: inline-block;
		width: 32.5%;
		height: 16em;
		overflow: hidden;
		box-sizing: border-box;
		@include width-below ($medium-large-width){
  		width: 35%;
		}
		@include width-below ($medium-width){
  		width: 45%;
		}
		@include width-below ($medium-small-width){
  		width: 53%;
		}
		@include width-below ($small-width - 4em){
			width: 75%;
		}
	}
}

.instagram-link{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: block;
	border: 1px solid $light-gray;
}
.instagram-image{
  position: absolute;
  top: -2.5em;
  left: -2.5em;
  width: calc(100% + 5em);
  height: calc(100% + 5em);
  @include slow-transition-on-property (transform);
}
.instagram-link{
  &:hover{
    & > .instagram-image{
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }
}
*/

.insta-thistle{
  position: absolute;
  right: -6em;
  top: 20em;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  @include width-below ($large-width){
    display: none;
  }
}

.gold-leaves{
  position: absolute;
  left: 5em;
  bottom: -2em;
  transform: rotate(-19deg);
  @include width-below ($large-width + 5em){
    left: -5em !important;
  }
}

.insta-thistle-left{
  position: absolute;
  left: -4em;
  top: 10em;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  @include width-below ($large-width){
    display: none;
  }
}