$fast: 0.3s;
$slow: .6s;

@mixin transition-fast {
  @include transition-duration ( $fast );
  @include transition-timing-function ( ease-in );
}

@mixin transition-slow {
  @include transition-duration ( $slow );
  @include transition-timing-function ( ease-in );
}

@mixin hidden {
  position: absolute;
  visibility: hidden;
}

@mixin shown-driving {
  position: relative;
  visibility: visible;
}

@mixin shown-not-driving {
  position: absolute;
  visibility: visible;
}

@mixin fast-transition-on-property ( $property... ) {
  @include transition-property ( $property );
  @include transition-fast;
}

@mixin slow-transition-on-property ( $property... ) {
  @include transition-property ( $property );
  @include transition-slow;
}