$light-gray: #ddd;
$lighter-gray: lighten(#ddd, 10%);
$dark-gray: #282126;
$dark-purple: #5b394a;
$light-purple: #a78ba4;
$lightest-purple: #DCD4DB;
$dark-green: #537473;
$light-green: #89a3a4;
$gold: #a49051;
$red: #BB3030;