@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?267vlq');
	src:url('../fonts/icomoon.eot?267vlq#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?267vlq') format('truetype'),
		url('../fonts/icomoon.woff?267vlq') format('woff'),
		url('../fonts/icomoon.svg?267vlq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$icon-etsy: "\e900";

$icon-instagram: "\e901";

@mixin open-sans-condensed{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}

@mixin open-sans-condensed-bold{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}

@mixin garamond{
	font-family: 'EB Garamond', serif;
	font-weight: 400;
}

@mixin garamond-bold{
	font-family: 'EB Garamond', serif;
	font-weight: 700;
}

@mixin script{
	font-family: JacquesGilles;
	font-weight: normal;
	font-style: normal;
}

.section-title-image{
	text-align: center;
  margin: 0 auto;
  display: block;
}

@mixin section-title-text{
  text-align: center;
  margin: 0 auto;
  display: block;
  @include script;
  font-size: 2.5em;
  color: $dark-green;
  line-height: 1.2em;
  position: relative;
  @include width-below ($medium-small-width){
	  font-size: 2em;
  }
}
.section-title-text{
	@include section-title-text;
}